<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="secondary">
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button routerLink="/home">
        <ion-icon slot="icon-only" name="log-in-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <h1>Aplicativo do Pepe!!</h1>
  <div class="botao">
    <ion-button routerLink="/login" fill="outline">login</ion-button>
    <ion-button routerLink="/registro" fill="outline">registro</ion-button>
    <ion-button routerLink="/produtos" fill="outline">produtos</ion-button>
  </div>
</ion-content>
