/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";


.fundo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container{
  margin-top: 2rem;
  margin-bottom: 3rem;
  border: 1px white solid;
  border-radius: 10px;
  width: 80%;
}

h1{
  text-align: center;
  font-weight: 600;
  font-size: 2rem;
  padding-top: 2rem;
}

.input{
  display: flex;
  margin-left: 1rem;
  margin-bottom: 1rem;
  border: 1px white solid;
  border-radius: 10px;
  width: 92%;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  gap: 1rem;
  color: white;
  ion-icon{
    margin-top: 0.5rem;
    margin-left: 0.5rem;
  }
  span{
    margin-top: 0.5rem;
    margin-left: 0.5rem;
    font-size: 10px;
  }
}

.botao{
  display: flex;
  flex: 1 auto;
  flex-flow: wrap;
  justify-content: space-around;
  align-items: auto;

  ion-button{
    width: 11rem;
    --background: #E8EDDF;
    --color: #242423;
    --border-color: #E8EDDF;
  }
}
